/*BODY*/
html,
body {
  margin: 0;
  padding: 0;
  display: grid;
  background-color: slategrey;
  overflow: visible;
}
body {
  background-size: cover;
  background-color: slategrey;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#root {
  margin: 0px;
  width: 100%;
  padding: 10px;
  display: flex;
  background-color: slategrey;
  align-items: stretch;
  height: fit-content;
  overflow: visible;
}
#container{
  background: linear-gradient(to top right, #ffcc00 47%, #daa502 83%);
  display: grid;
  justify-content: center;
  width: fit-content;
  border-radius: 10px;
  padding: 15px;
  border: #4b2303 solid 5px;
}
/* HEADER */
#header{
  background-color: #fd7e14;
    margin: 10px 5px 10px 5px;
    padding: 10px;
}
/* Layout */
.headCol {
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 10px;
}
/* Text */
#heading {
  text-transform: uppercase;
  text-align: center;
  font-family: "Volkhov", serif;
}

/* SECTION 1 */
#section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #9d7b16;
  margin-bottom: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
}
/* Layout */
.toggleRow{
  display: flex;
  justify-content: center;
}
.toggleCol{
  display: flex;
  justify-content: center;
}
/* Input */
.input {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 0px;
  font-weight: 800;
  font-family: "Noto Sans", sans-serif;
}
/* Button */
#toggleBtn{
  font-family: "Lato", sans-serif;
    color: whitesmoke;
    width: 200px;
    padding: 5px 10px 5px 10px;
    font-weight: 700;
    border: solid black 3px;
}




